body{font-family:Arial;background:#f4f4f4;margin:0;}
header{background:#002b5c;color:white;padding:20px;text-align:center;}
nav a{color:white;margin:10px;text-decoration:none;}
main{max-width:900px;margin:auto;padding:20px;background:white;}
.card{background:white;padding:15px;margin-bottom:20px;border-radius:6px;box-shadow:0 2px 6px rgba(0,0,0,0.1);}
.card img{border-radius:5px;margin:10px 0;}
footer{background:#111;color:white;text-align:center;padding:20px;}
.ads{background:#eee;padding:20px;margin:20px;}
button{background:#25D366;color:white;padding:15px;width:100%;border:none;border-radius:6px;cursor:pointer;}
button:hover{background:#1ebe5d;}
